<%- include('header.ejs') %>

<div class="container">

  <h1>NEW PRODUCT</h1>

  <form method="POST">

    <div class="mb-3">
      
      <label for="name" class="form-label">Nombre de tu producto</label>
      <input type="text" name="name" value="" class="form-control" id="name" required>
      
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input type="number" name="price" value="" class="form-control" id="price" required>
    </div>

    <div class="mb-3">
      <label for="img" class="form-label">Imágen</label>
      <input type="text" name="img" value="" class="form-control" id="img" required>
    </div>

    <div class="mb-3">
      <label for="tags" class="form-label">Tags</label>
      <input type="text" name="tags" value="" class="form-control" id="tags" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
   

  </form>
</div>

<%- include('footer.ejs') %>