
body {
    background-color: rgb(204, 204, 204);
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.filter {
    margin-bottom: 20px;
}

.isflex {
    position: relative;
    background-color: rgba(245, 245, 220, 0.438);
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
}

.img {
    max-width: 300px;
    border-radius: 10%;
    border: solid 1px #f8cdcd;
}

.error {
    color: rgb(190, 0, 0);
    font-size: small;
    text-align: center;
}

.pages {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.lang-selector{
    margin-right: 10px;
}

.mb-3{
    width: 20vw;
    min-width: 200px;
    max-width: 700px;
}
